@import "variables";

input, label {
	font-size: 18px;
  	letter-spacing: 3px;
	display: inline-block;
	text-align: left;
	vertical-align: middle;

	&:focus {
		outline-color: none !important;
		border: 1px solid $lightblue;
		box-shadow: 0 0 5px $lightblue;
	} 
}

input {
	padding: 10px;
}

label {
	letter-spacing: 1px;
}

.picture-upload-input, .picture-specs-input, .entername-input {
	border: 2px solid lighten(#A5A5A5, 20%);
	margin-top: 55px;
	margin-bottom: 10px;
	width: 100%;

	&.picture-specs-input {
		margin-top: 20px;
	}	

	&.entername-input {
		margin: 10px 0;
	}
}

.url-label, .licenceProperty, .selectProperty, .entername-label {
    float: left;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #A5A5A5;
	margin-left: auto;
	margin-right: auto;
    padding: 0 1em;

	&.licenceProperty {
		width: 100%;
		text-align: left;
		letter-spacing: 1px;
	}

	&.selectProperty {
		text-align: left;
		letter-spacing: 1px;
		margin: 2em 2em 1em 0;
		padding: 0.8em 1em;
	}
}

.url-form {

	&:before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  height: 100%;
	}
}



.licenceProperty-container, .selectProperty-container {
	width: 70%;
	margin: 1em auto;
	text-align: initial;
}

.license-select-wrap {
	display: inline-block;
	width: 86%;
	box-sizing: border-box;
	text-align: initial;
	margin: 1.5em 0 1em 0;
}

@media only screen and (max-width: 599px) {

	input {
		font-size: 14px;
		font-size: 13px;
	}

	label {
		font-size: 11px;
	}
	
	.entername-label {
		// width: 65%;
		margin-left: 0;
		margin-right: 0;
		float: left;
	}


	.picture-upload-input, .picture-specs-input, .entername-input {
		letter-spacing: 1.2px;
		margin-top: 1em;

		&.picture-specs-input {
			margin-top: 1em;
		}
	}

	.url-label, .licenceProperty, .selectProperty, .entername-label {
		font-size: 11px;
	}

	.licenceProperty-container, .selectProperty-container {
		width: 100%;
		margin: 0.2em auto;
		text-align: initial;
	}

	.selectProperty-container {
		margin: 1.5em auto;
	}
}

@media (min-width: 768px) and (max-width: 1259px) {

	.license-select-wrap {
		width: 75%;
	}
}

@media (min-width: 1260px) and (max-width: 1440px) {
	input, label {
		font-size: 14px;
	}

	input {
		padding: 10px;
	}

	.picture-upload-input, .picture-specs-input, .entername-input {
		margin-top: 0;
		margin-bottom: 0.2em;

		&.picture-specs-input {
			margin-top: 0.5em;
		}

		&.picture-upload-input {
			margin-top: 0.7em;
		}
	}

	.url-label, .licenceProperty, .selectProperty, .entername-label {
		font-size: 11px;


		&.selectProperty {
			padding-top: 1.2em;
			margin: 0.6em 2em 1em 0;
		}
	}

	.licenceProperty-container, .selectProperty-container {
		margin: 0.2em auto;
		text-align: initial;
	}

	.choice {
		margin: 0;
		font-size: 0.9em;
	}

	.selectProperty-container {
		margin: 0 auto;
	}

	.license-select-wrap {
		width: 81%;
		margin: 0.5em 0;
	}
}