@import "variables";

input, label {
	display: inline-block;
	letter-spacing: 1px;
	text-align: left;
	vertical-align: middle;
}

.picture-upload-input, .picture-specs-input, .entername-input {
	border-top: none;
	border-left: none;
	border-right: none;
	margin-top: 55px;
	margin-bottom: 10px;
	width: 100%;

	&.picture-specs-input {
		margin-top: 20px;
	}	
}

.url-label, .licenceProperty, .selectProperty, .entername-label {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(132, 132, 132);
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 25px;

	&.licenceProperty {
		width: 100%;
		text-align: left;
		letter-spacing: 1px;
	}

	&.selectProperty {
		float: left;
		width: 15%;
		text-align: left;
		letter-spacing: 1px;
		margin: 0;
		padding-top: 25px;
	}
}

.url-form {

	&:before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  height: 100%;
	}
}

.licenceProperty-container, .selectProperty-container {
	width: 70%;
	margin: auto;
}

.license-select-wrap {
	width: 100%;
	padding-top: 15px;
}