.Overlay {
	position: fixed;
	background: $background-white;
	padding: 2%;
	width: 24em;
	height: 40%;
	top:50%;
	left: 60%;
	transform: translate(-50%,-50%);

	h2 {
		font-size: 32px;
		margin: 0;
		text-transform: uppercase;
	}

	ul {
		padding: 0;
		margin: 3em 0;
	}

	.button-close-overlay {
		cursor: pointer;
		color: $darkred;
		float: right;
		background: white;
		font-size: 28px;
		font-weight: 700;
		margin-top: 0.2em;
	}

	a,p {
		text-decoration: none;
	}

	a:visited {
		color: inherit;
	}

	button {
		border-style: none;
		padding-left: 1px;
		font-family: inherit;
		background: white;
		font-size: 24px;
		letter-spacing: 3px;
	}

	ul li a:hover, ul li a:focus {
		color: $yellow;
	   }

	ul li button:hover, ul li button:focus {
		color: $yellow;
	}   

	li {
		color: inherit;
		display: block;
		margin: 1em 0;
		list-style-type: none;
		font-size: 24px;
	}	
}

.overlay-shown {
	display : block;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	text-align: left;
}

.overlay-hidden {
	display: none; 
}

.Overview, .GamesOverview, .Resources {

	.Overlay {
		left: 50%;
	}
}

@media only screen and (max-width: 599px) {
	
	.Overlay{
        left: 50%;
        width: 18.5em;
		height: 20em;
		padding: 1.5em;

        h2 {
            font-size: 22px;
            padding-top: 15px;
        }

        li{
            font-size: 19px;
        }

        ul{
            margin: 2em 0 3em 0;
        }
	}
	
	.overlay-shown {
		z-index: 100;
	}
}

@media (min-width: 600px) and (max-width: 768px) {
    .Overlay{
        left: 50%;

        h2 {
            font-size: 30px;
            padding-top: 10px;
        }
        
        ul{
            margin: 2em 0 3em 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1259px) {

	.Overlay {
		left: 50%;
		padding: 2em;

		h2 {
            font-size: 26px;
            padding-top: 10px;
        }

        ul {
            margin: 2em 0 3em 0;
		}

		.button-close-overlay {
			margin-top: 0;
		}
	}

	.overlay-shown {
		z-index: 100;
	}
}

@media (min-width: 1260px) and (max-width: 1440px) {
    .Overlay {
		left: 58%;
		height: 42%;

		h2 {
			font-size: 26px;
		}

		.button-close-overlay {
			margin-top: -0.2em;
		}

		ul {
			margin: 1.8em 0;
		}

		li {
			font-size: 18px;
		}	
	}
}