@import "variables";

h1 {
	margin: 25px;
}

.startpagecontent {
	background-color: lighten($darkblue, 72%);
	padding-top: 14%;
	height: 100%;
	text-align: center;
	@media screen and (max-width:2000px) {
		padding-top: 2%;
	}

	h1 {
		color: $darkblue;
		font-size: 68px; 
		margin: 25px;
	}

	h3 {
		color: $darkblue;
		line-height: 1.8;
		width: 70%; 
		margin: auto; 
	}
}

ol {
	margin: 0;

	li:first-of-type {
		padding-top: 0;
	}

	li {
		padding: 5px 0;
	}
}

.pagecontent {
	background-color: $background-white;
	height: 100%;
	display: block;
	margin-left: 245px;
	padding: 25px 130px;
	text-align: center;
}

.buttoncontainer {
	position: absolute;
	bottom: 8%;
    left: 59%;
    transform: translate(-50%);
}

.speechbubbletext, .answerbubbletext {
	padding: 8%;
	position: relative;
	letter-spacing: 1.1px;
}

.errorMessage {
	color: $darkred;
}

.dropdown {
	
}
.validation {
	width: 10px;
	height: 10px;
	float: right;
}

.llama-container {
	display: inline-block; 
	float: left;
	width: 20%;
}