@import "variables";

h1 {
	margin: 25px;
}

.startpagecontent {
	background-color: lighten($darkblue, 72%);
	padding-top: 14%;
	height: 100%;
	text-align: center;
	@media screen and (max-width:2000px) {
		padding-top: 2%;
	}

	h1 {
		color: $darkblue;
		font-size: 68px; 
		margin: 25px;
	}

	h3 {
		color: $darkblue;
		line-height: 1.8;
		width: 70%; 
		margin: auto; 
	}
}

ol {
	margin: 0;

	li:first-of-type {
		padding-top: 0;
	}

	li {
		text-align: left;
		padding: 5px 0;
	}
}

.welcomeblock {
	margin-top: 8em;
}

.welcomepanels {

	li {
		list-style-image: url(./images/bullet.svg);

		&:last-of-type {
			font-size: 25px;
			font-weight: 700;
			padding: 1em 0;
			list-style: none;
		}
	}
}

.pagecontent {
	height: 100%;
	display: block;
	margin-left: 25em;
	padding: 25px 130px;
	text-align: center;
}

.jailpagecontent {
	width: 90%;
	position: absolute;
	z-index: 10;
	button {
		background-color: $darkred;
		border-style: none;
		letter-spacing: 3px;
		margin-left: 4em;
		margin-top : 15px;
		color: $button-text;
		padding: 3px;
		vertical-align:middle
	}
}

.resourceContainer {
	background-color: $resource-background;
	margin-top: 3.5em;
	height: 43em;

	.speechbubbletext {
		position: relative;
		font-size: 20px;
		padding: 0 1.5em;
		margin: 3em;
		line-height: 2em;
		width: 50%;
		text-align: left;
		float: left;
		height: 25em;
		overflow: scroll;
	}
}

.buttoncontainer {
	position: absolute;
	bottom: 8%;
    left: 59%;
    transform: translate(-50%);
}

.speechbubbletext, .answerbubbletext, .speechbubbletext-jail {
	padding: 8%;
	position: relative;
	letter-spacing: 1.1px;
}

.speechbubbletext-jail {
	color: $button-text;
	font-size: 26px;
	font-weight: 700;
}

.entername-form {
	margin-top: 25%;
	margin-left: 25%;
}

.errorMessage {
	color: $darkred;
}

.validation {
	width: 10px;
	height: 10px;
	float: right;
}

.llama-container {
	display: inline-block; 
	float: left;
	width: 20%;
}

.speechlawyer-container, .speechlawyer-sceptical-container {
	display: inline-block; 
	float: right;
	margin-top: 15%;
	margin-right: -13%;
	width: 20%;
	transform: rotate(-45deg);
}

.welcomepanels {
	position: relative;
	margin-right: 5%;
	font-size: 22px;
	letter-spacing: 1.1px;
	width: 60%;
}

.welcomepanel {
	text-align: left;
	margin-bottom: 5px;
	label {
		display: block;
	}
}

.quizQuestions{
	text-align: left;
	width: 90%;
	.question {
		margin-top: 3em;
		margin-bottom: 1em;
		letter-spacing: 1.1px;
		font-size: 20px;
	}
	button {
		background-color: $darkred;
		border-style: none; 
		color: white;
		padding: 14px 20px;
		float: right;
		margin-right: 10px;
	}
}
.quizQuestion {
	margin-bottom: 0.5em;
	letter-spacing: 1.1px;
	border-radius: 10px;
	label {
		display: inline-block;
	}
	.wrong {
		font-size: 12px;
	}
}

.attribution-container {
	float: left;
	margin-top: -23em;
	margin-left: 5.5em;
}

@media only screen and (max-width: 599px) {
  
	h1 {
		font-size: 22px;
		line-height: 1.5;
		margin: 0 15px 15px 15px;
	}

	.startpagecontent {

		h1 {
			font-size: 44px;
			margin: 85px 25px 25px 25px;
			line-height: 1.3;
		}

		h3 {
			line-height: 1.4;
		}
	}

	ol {
		padding-left: 20px;
	}

	.pagecontent {
		margin-left: 15px;
		padding: 25px;
		text-align: center;
	}

	.buttoncontainer {
		bottom: 2%;
		left: 52%;
	}

	.speechbubbletext {
		
		&.entername {
			padding: 7%;
		}
	}

	.speechbubbletext-jail {
		color: $button-text;
		font-size: 16px;
		font-weight: 700;
	}

	.entername-form {
		margin-top: 12%;
		margin-left: 0;
		z-index: 10px;
	}

	.speechlawyer-container {
		margin-right: -10%;

		&.entername {
			margin-top: 5%;
		}
	}

	.llama-container {
		float: none;
	}
} 


@media (min-width: 600px) and (max-width: 768px) {

	.startpagecontent {

		h1 {
			font-size: 68px;
			margin: 285px 25px 25px 25px;
			line-height: 1.3;
		}

		h3 {
			line-height: 1.4;
		}
	}

	.pagecontent {
		margin-left: 0;
		padding: 25px;
	}

	.buttoncontainer {
		bottom: 2%;
		left: 50%;
	}

	.speechlawyer-container {
		margin-right: -4%;
	}

	.entername-form {
		margin-top: 55%;
		margin-left: 0;
		z-index: 10px;
	}
}
