@import "variables";

.pagecontent {
	background-color: $background-white;
	height: 100%;
	display: block;
	margin-left: 245px;
	padding: 65px 130px;
}

.BackButton {
	border-radius: 50%;
	border-style: none; 
	background-color: $darkred;
	padding: 14px 16px 14px 12px;
	margin: 6px;
	width: 65px;
	height: 65px;
	text-align: center;
}

.ForthButton {
	border-radius: 50%;
	border-style: none; 
	background-color: $darkred;
	padding: 14px 12px 14px 16px;
	margin: 6px;
	width: 65px;
	height: 65px;
	text-align: center;
}