@import "variables";

h1 {
	margin: 25px;
	font-weight: 600;
}

.startpagecontent {
	background-color: lighten($darkblue, 72%);
	padding-top: 14%;
	height: 100%;
	text-align: center;

	h1 {
		color: $darkblue;
		font-size: 68px; 
		margin: 25px;
	}

	h3 {
		color: $darkblue;
		line-height: 1.8;
		width: 70%; 
		margin: auto; 
	}
}

.overviewpagecontent {
	padding-top: 2%;

	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.6;
		height: 3.2em;
		margin: 0.5em auto;
		width: 90%;

	}

	.contentText {
		padding: 2em 1em;
		text-align: left;
		letter-spacing: 2px;
		height: 21em;
	}

	.contentBox:nth-of-type(2) {
		border: solid 2px $brightred;
		-webkit-box-shadow: 0 0 0.5em rgba(242, 109, 117, 0.5);
		-moz-box-shadow: 0 0 0.5em rgba(242, 109, 117, 0.5);
		box-shadow: 0 0 0.5em rgba(242, 109, 117, 0.5);
}
}

ol {
	margin: 0;

	li:first-of-type {
		padding-top: 0;
	}

	li {
		text-align: left;
		padding: 5px 0;
	}
}

.welcomeblock {
	margin-top: 6em;
}

.welcomepanels {

	ul {
		list-style-position: outside;
	}

	li {
		list-style-image: none;
		list-style-type: none;
		background-image: url('./images/bullet.svg');
		background-repeat: no-repeat;
		background-position: 0px 13px;
		padding-left: 20px;
		background-size: 10px;

		&:last-of-type {
			font-size: 25px;
			font-weight: 700;
			padding:  1em 0 1em 0.7em;
			background-image: none;
		}
	}
}

.pagecontent {
	height: 100%;
	display: block;
	margin-left: 25em;
	padding: 25px 130px;
	text-align: center;
	overflow: hidden;


	&.jailgame {

		.buttoncontainer {
			left: 50%;
		}
	}
}


.contentBox, .gameContentBox {
	background-color: whitesmoke;
	height: 44em;
	margin: 1em;
	padding: 20px 20px;
	text-align: center;
}

.gameContentBox {
	height: 22em;
}

.boxicon {
	height: 7em;
}

.jailpagecontent {
	width: 90%;
	z-index: 10;
	margin:auto;
	text-align: center;

	.resourceContainer {
		background-color: $jailresource-background;
		color: #FFF;
	}
}

.buttoncontainer {
	position: absolute;
	bottom: 8%;
    left: 59%;
    transform: translate(-50%);
}

.speechbubbletext, .answerbubbletext, .speechbubbletext-jail {
	height: 9em;
	padding: 2.5em;
	position: relative;
	letter-spacing: 1.1px;

	div {
		height: inherit; 
		padding: 0 1em;
		overflow-y: scroll;
		overflow-y: auto;
	}

	a {
		background-color: #FFF;
		color: $darkblue;
		padding: 0.8em 1.2em;
	}
}

.speechbubbletext-jail {
	color: $button-text;
	font-size: 26px;
	font-weight: 700;
}

.entername-form {
	margin-top: 25em;
	margin-left: 28em;
}

.errorMessage, .successMessage, .correctAnswers {
	color: $darkred;	
	float: right;
	width: 34em;
	font-size: 14px;
	font-weight: 600;
	margin: 0 1.5em 1.5em 1.5em;
	text-transform: uppercase;
}

.message-container {
	width: 100%;
	height: 15em;
}

.successMessage, .correctAnswers {
	color: $darkgreen;
}

.errorMessage {
	color: $darkred;
}

.successMessage {
	color: darkgreen;
}

.correctAnswers {
	font-size: 20px;
	width: 100%;
	margin: 0.5em 0;
	padding: 2em;
	text-align: center;
	background-color: lighten($lightgreen, 10%);
}

.disableAnswers {
	display: none;
}

.validation {
	width: 10px;
	height: 10px;
	float: right;
}

.llama-container {
	display: inline-block; 
	float: left;
	width: 20%;
}

.speechlawyer-container, .speechlawyer-sceptical-container {
	display: inline-block; 
	float: right;
	margin-top: 4em;
	margin-right: -8em;
	width: 20%;
	transform: rotate(-45deg);
}

.speechlawyer-sceptical-container {
	margin-top: 2em;
}

.welcomepanels {
	position: relative;
	margin-right: 5%;
	font-size: 22px;
	letter-spacing: 1.1px;
	width: 60%;
}

.welcomepanel {
	text-align: left;
	margin-bottom: 5px;

	label {
		display: block;
	}
}

.matchSection {
	display: inline-block;
	background-color: $resource-background;
	margin: auto 0;
	margin-bottom: 0.5em;
	padding: 1em;
}

.quizQuestions, .matchQuestions {
	text-align: left;
	width: 90%;
	margin: auto;

	.question, .matchQuestion {
		letter-spacing: 1.1px;
		font-size: 20px;
		float: left;
	}

	.question {
		width: 43em;
	}

	.matchQuestion {
		width: 100%;
		font-size: 18px;
		text-align: left;
	}

	.basic-multi-select {
		width: 30em;
		height: 100%;
		margin: 2em 1.5em;
	}
}

.matchQuestions {
	text-align: center;
}

.match-question-container {
	display: flex;
	width: 100%;
}

.match-question-text {
	width: 60%;
    margin: 1em;
}

.matchQuestion {
	width: 25em;
	float: left;
}

.quizQuestion {
	background-color: $resource-background;
	padding: 1em;
	margin-bottom: 0.1em;
	letter-spacing: 1.1px;

	input {
		margin: 0.7em 1.5em;
	}

	input[type=checkbox] {
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
	}

	label {
		display: inline-block;
	}

	.wrong {
		font-size: 12px;
	}
}

.iconcontainer {
	height: auto;
	margin-top: 2em;
}

.quiz-topsection {
	display: inline-block;
}

.attribution-container {
	float: left;
	margin-top: -15em;
	margin-left: 5.5em;
}

@media only screen and (max-width: 599px) {
  
	h1 {
		font-size: 18px;
		line-height: 1.2;
		margin: 1em;
	}

	.contentText {
		font-size: 14px;
		line-height: 1.5;
		margin: 25px 0;
	}

	.startpagecontent {

		h1 {
			font-size: 44px;
			margin: 0.5em 0;
			line-height: 1.3;
		}

		h3 {
			font-size: 1.2rem;
			line-height: 1.4;
			width: 95%;
		}

		&.overviewpagecontent {

			height: auto;

			h1 {
				font-size: 22px;
				margin: 45px 25px;
			}

			h3 {
				margin: 0.5em auto;
			}

			.contentText {
				padding: 1em 0;
				height: 16em;
				font-size: 14px;
				margin: 0;
			}
		}
	}

	ol {
		padding-left: 20px;
	}

	.welcomeblock {
		margin-top: 1em;
	}

	.welcomepanels {
		font-size: 14px;
		width: 100%;
		margin: 0;
		padding: 0;

		ul {
			padding: 0;
		}

		li {
			background-position: 0px 10px;
			padding-left: 20px;
			background-size: 5px;
	
			&:last-of-type {
				font-size: 15px;
				padding: 1em 0 1em 20px;
			}
		}
	}

    .MatchTheLicense {

        .pagecontent {
            margin-bottom: 9em;
        }
    }

	.pagecontent {
		margin-left: 0;
		padding: 35px 25px 25px 25px;
		text-align: center;
		overflow-y: scroll;
	}

	.buttoncontainer {
		bottom: 2%;
		left: 52%;
	}

	.contentBox {
		height: 31em;
	} 

	.boxicon {
		height: 4em;
	}

	.speechbubbletext {
		padding: 1.5em;
		
		&.entername {
			padding: 7%;
		}
	}

	.answerbubbletext {
		padding: 1.5em;
	}

	.speechbubbletext-jail {
		color: $button-text;
		font-size: 16px;
		font-weight: 700;
	}

	.entername-form {
		margin-top: 27%;
		margin-left: 0;
		z-index: 10px;
	}

	.speechlawyer-container {
		margin-right: -10%;

		&.entername {
			margin-top: 5%;
		}
	}

	.Jailpage {

		.speechlawyer-container {
			margin-top: -1em;
			margin-right: -0.5em;
		}

		.speechlawyer-sceptical, .speechlawyer-happy {
			width: 100%;
		} 
	}

	.llama-container {
		float: none;
	}

	.match-question-container {
		display: inline; 
	}

	.match-question-text {
		width: 100%;
		height: 7em;
		margin: 0;
		overflow-y: scroll;
	}

	.quizQuestions, .matchQuestions {

		width: unset;
		margin-bottom: 6em;

		.matchQuestion {    
			width: 20.5em;
			margin: 1em;
			font-size: 12px;
		}

		.basic-multi-select {
			width: 100%;
			margin: 1.5em 1em 1em 1em;
		}
}

	#colInputPadding{
		padding: 0px;
	}

	.errorMessage, .successMessage, .correctAnswers {
		width: auto;
		height: auto; 
		font-size: 12px; 
		line-height: 1.4em; 
	}

	.correctAnswers {
		font-size: 16px;
		margin: 0.5em 0;
		padding: 1em;
		text-align: center;
		background-color: lighten($lightgreen, 10%);
	}

	.question {
		font-size: 16px;
		margin-top: 0;
	}
}


@media (min-width: 600px) and (max-width: 767px) {

	.startpagecontent {

		h1 {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.3;
		}

		h3 {
			line-height: 1.4;
		}
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.pagecontent {
		margin-left: 0;
		padding: 25px;
		overflow-y: scroll;
	}

	.buttoncontainer {
		bottom: 2%;
		left: 50%;
	}

	.speechlawyer-container {
		margin-right: -4%;
	}

	.entername-form {
		margin-top: 25%;
		margin-left: 0;
		z-index: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1259px) {

	h1 {
		margin: 1em;
	}

	.startpagecontent {

		h1 {
			margin: 85px 25px 25px 25px;
			line-height: 1.3;
		}

		h3 {
			line-height: 1.4;
			font-size: 1.7rem;
		}

		&.overviewpagecontent {

			height: 100%;

			h1 {
				font-size: 32px;
				margin: 45px 25px;
			}

			h3 {
				margin: 0.5em auto;
			}

			.contentText {
				padding: 0;
				height: 26em;
				font-size: 14px;
				margin: 0;
			}

			.iconcontainer {

				margin-top: 1em;

				.headline {    
					font-size: 1.2em;
					height: 4.2em;
					width: 100%;
				}
			} 
		}
	}

	.container {
		margin-bottom: 6em;
	}

	.overviewpagecontent {
	
		.container {
			margin-bottom: 0;
		}

	}

	.correctAnswers {
		width: 100%;
		font-size: 16px;
		padding: 1em;
		margin: 1.5em auto 0 auto;
	}

	.speechbubbletext {
		padding: 1.5em;
		
		&.entername {
			padding: 2em;
			height: 9em;
		}
	}

	.answerbubbletext {
		width: 29em;
		height: 20em;
	}

	.speechbubbletext-jail {
		font-size: 24px;
		height: 9em;
	}


	.entername-form {
		margin-top: 25em;
		margin-left: 2em;
	}	

	.errorMessage, .successMessage, .correctAnswers {	
		float: none;
		width: 85%;
		margin: 1.5em auto;
	}

	.correctAnswers {
		width: 100%;
		font-size: 16px;
		padding: 1em;
		margin: 1.5em auto 0 auto;
	}

	.quizQuestions {

		margin-bottom: 6em;

		.question {
			font-size: 18px;
			width: 36em;
			float: none;
		}
	}

	.speechlawyer-container, .speechlawyer-sceptical-container {
		margin-top: 8.5em;
		margin-right: -2em;
	}

	.jailpagecontent {
		
		.speechlawyer-container, .speechlawyer-sceptical-container {
			margin-top: 4.5em;
		}
	}

	.welcomeblock {
		margin-top: 2em;
	}

	.welcomepanels {
		width: 70%;
		max-width: 100%;
		font-size: 18px;

		li:last-of-type {
			font-size: 20px;
		}
	}

	.quizQuestions {

		margin-bottom: 6em;
	
		.question {
			font-size: 18px;
			width: 36em;
			float: none;
		}
	}

	.matchQuestions {
		margin-bottom: 6em;
	}

	.matchSection {
		height: auto;
		width: 100%;
	}

	.match-question-text {
		width: 100%;
	}

	.pagecontent {
		margin-left: 0;
		padding: 45px 25px 25px 25px;
		text-align: center;
		overflow-y: scroll;
	}

	.buttoncontainer {
		bottom: 2%;
		left: 50%;
	}
}

@media (min-width: 1260px) and (max-width: 1440px) {

	.startpagecontent {

		h3 {
			line-height: 1.4;
		}
	}	
	
	.overviewpagecontent {
		
		h1 {
			font-size: 1.5rem;
			font-weight: 600;
		}

		h3 {
			font-size: 1.2em;
			line-height: 1.2;
			margin: 0 auto;
		}

		.contentText {
			padding: 0.5em;
			letter-spacing: 1.4;
			line-height: 1.4; 
			font-size: 14px;
			height: 13em;
		}
	}

	h1 {
		margin: 10px;
		font-size: 1.5rem;
		font-weight: 600;
	}

	.startpagecontent {
		padding-top: 3.5em;
	}

	.Overview {
		.startpagecontent {
			padding-top: 1%;
		}
	}

	.welcomeblock {
		margin-top: 4.5em;
	}

	.welcomepanels {
		font-size: 14px;
		width: 74%;

		li {
			background-position: 0px 8px;
			padding-left: 20px;
			background-size: 8px;
	
			&:last-of-type {
				font-size: 14px;
				font-weight: 700;
				padding: 0.3em 1.3em;
				list-style: none;
			}
		}
	}

	.pagecontent {
		margin-left: 15em;
	}

	.contentBox {
		height: 26.5em;
	}

	.boxicon {
		height: 4em;
	}

	.iconcontainer {
		margin-top: 0;
	}

	.gameContentBox {
		height: 11em;

		.boxicon {
			height: 3em;
		}

		h3 {
			height: 1.2em;
			margin: 0.5em auto;
		}
	}
	
	.buttoncontainer {
		bottom: 1em;
	}

	.speechbubbletext, .answerbubbletext, .speechbubbletext-jail {
		font-size: 14px;
		height: 9em;

		ol {
			height: 8em; 
		}
	}

	.answerbubbletext {
		font-size: 12px;
	}

	.entername-form {
		margin-top: 8em;
		margin-left: 10em;
	}

	.matchQuestions {
		margin-bottom: 6em;
	}

	.matchSection {
		height: auto;

		.match-question-text {
			height: 6em;
			margin: 0 1em 1em 1em;
			overflow-y: scroll;
		}

		.errorMessage, .successMessage {
			width: auto;
			font-size: 12px;
		}
	}

	.quizQuestions, .matchQuestions {
		width: 100%;

		.question {
			margin-top: 0;
			font-size: 16px;
			width: 33em;
		}

		.quizQuestion {
			line-height: 1.1;
			padding: 0.4em 1em;
		}

		.matchQuestion { 
			font-size: 16px;
			line-height: 1.2;
		}

		.basic-multi-select {
			margin: 2em 1.5em;
		}
	}

	.attribution-container {
		margin-top: -9.6em;
		margin-left: -5em;
	} 

	.attribution-screencast {
		width: 50%;
	}
}
