.resourceContainer {
	background-color: $resource-background;
	position: relative;
	height: 28em;
	overflow: auto;

	.speechbubbletext {
		position: relative;
		font-size: 20px;
		padding: 0 1.5em;
		margin: 3em;
		line-height: 2em;
		// width: 50%;
		text-align: left;
		float: left;
		// height: 25em;
		overflow: scroll;
	}	
}

.resourcetext {
	position: relative;
	line-height: 2em;
	text-align: left;
	float: left;
	height: auto;
	height: 6em;
	letter-spacing: 1.1px;

	
	&::before{
		box-sizing: unset
	}
	div {
		height: inherit; 
		padding: 1em 1em 2em 1em;
	}
}
