.resourceContainer {
	background-color: $resource-background;
	position: relative;
	height: 46em;
	padding: 3em;
	overflow: auto;

	// Ist diese Klasse redundant, wenn resourcetext als neue Klasse hinzugefuegt wurde?
	.speechbubbletext {
		position: relative;
		font-size: 20px;
		padding: 2.5em;
		margin: 3em;
		line-height: 2em;
		// width: 50%;
		text-align: left;
		float: left;
		// height: 25em;
		overflow: scroll;
	}	
}

.resourcetext {
	position: relative;
	line-height: 2em;
	text-align: left;
	height: 100%;
	letter-spacing: 1.1px;
	overflow: hidden;
	overflow-y: scroll;
	
	&::before{
		box-sizing: unset;
	}

	div {
		height: auto;
	}

	.resToC {
		padding-bottom: 20px;
    padding-top: 20px;
		text-align: left;
		position: absolute;
	}

	.resImages {
		width: 14%;
		height: auto;
		display: flex;
	}
}

@media (min-width: 1260px) and (max-width: 1440px) {
	
	.resourceContainer {
		height: 26em;
	}
}