@import "variables";

.SideNavigation{
	height: 100%;
	width: 8%;
	background-color: $darkblue;
	float: left;
	position: fixed;
	overflow: scroll;
	top: 0; 
	left: 0;
	ul {

		padding-top: 20px; 
		padding-inline-start: 15px;
		text-align: left;


		li {
			list-style-type: none;
			padding: 15px 10px; 

			a {
				font-weight: 600;
				text-transform: uppercase;
				height: 42px;
				color: $nav-reached;
				text-decoration: none;

				&:hover {
					color: $nav-hover;
				}

				&:active {
					color: $nav-active;

					&:before {
						content: "";
						padding-top: 52px;
					    background-color: $nav-active;
					    position: absolute;
					    width: 7px;
					    left: 0;
					}
				}

			}

			&.li-inactive 
				a {
					pointer-events: none;
					color: #7D7D7D;
			}
		}
	}

}
.navNarrow {

	i {
		float: left;
		.fa-bars{
			color: white;
		}
	}

	.narrowLinks {
		display: none;

		a {
			display: block;
			float: left;
			clear: left;
		}
	}
}
.navWide {
	display: none;
	margin: 0;
	position: absolute;
	top: 52%;
	-ms-transform: translateY(-52%);
	transform: translateY(-52%); 
  }

.logo-box {
	background-color: $yellow;
	height: 165px; 
}

@media (min-width: 1060px) {
	.SideNavigation{
		display: block;
		width: 18%;
	}

    nav {

        .navWide {
            display: block;
        }

        .navNarrow {
            display: none;
        }
    }
}