@import "variables";

.SideNavigation{
	height: 100%;
	width: 6%;
	background-color: $darkblue;
	float: left;
	position: fixed;
	overflow: scroll;
	top: 0; 
	left: 0;
	ul {

		padding-top: 20px; 
		padding-inline-start: 15px;
		text-align: left;


		li {
			list-style-type: none;
			padding: 10px 10px; 
		}
	}

}

.sideNavigationLink {
	color: $nav-reached;
	text-decoration: none;
}

.highlightedLink {
	color: $yellow;
	text-decoration: none;
}

.disabledLink {
	color: grey;
	text-decoration: none;
}

.navNarrow {

	i {
		float: left;
		.fa-bars{
			color: white;
		}
	}

	.narrowLinks {
		display: none;

		a {
			display: block;
			float: left;
			clear: left;
		}
	}
}
.navWide {
	display: none;
  }

.logo-box {
	background-color: $yellow;
	height: 165px; 
}

@media (min-width: 1060px) {
	.SideNavigation{
		display: block;
		width: 15%;
	}

    nav {

        .navWide {
            display: block;
        }

        .navNarrow {
            display: none;
        }
    }
}