@import "variables";

.SideNavigation {
	height: 100%;
	width: 8%;
	background-color: $darkblue;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	ul {

		padding-top: 20px;
		padding-inline-start: 15px;
		text-align: left;

		li {
			list-style-type: none;
			padding: 15px 10px;

			a {
				font-weight: 600;
				text-transform: uppercase;
				height: 42px;
				color: $nav-reached;
				text-decoration: none;

				&:hover {
					color: $nav-hover;
				}
			}

			&.li-inactive a {
				pointer-events: none;
				color: #7D7D7D;
			}
		}
	}
}
	.disabledLink {
		color: grey;
		text-decoration: none;
	}

	.sideNavigationLink {
		color: $nav-reached;
		text-decoration: none;
	}

	.highlightedLink {
		color: $nav-active;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			padding-top: 52px;
			background-color: $nav-active;
			width: 7px;
			left: 0;
		}
	}

	.navNarrow {

		i {
			float: left;

			.fa-bars {
				color: white;
			}
		}

		.narrowLinks {
			display: none;

			a {
				display: block;
				float: left;
				clear: left;
			}
		}
	}

	.navWide {
		display: none;
		margin: 0;
		height: calc(100% - 165px);
		overflow: scroll;
		margin-top: auto;
	}

	.logo-box {
		background-color: $yellow;
		height: 165px;
	}

	@media (min-width: 1060px) {
		.SideNavigation {
			display: flex;
			width: 18%;
		}

		nav {

			.navWide {
				display: block;
			}

			.navNarrow {
				display: none;
			}
		}
	}