@import "variables";

.startlawyer {
	position: absolute; 
	bottom: -20px;
	width: 12%;
    left: 50%;
    transform: translate(-50%);
}

.fulllawyer  {
	display: inline-block; 
	float: right;
	width: 30%;
	margin: 5%;
}

.lawyericon {
	margin: 50px 25px;
}

.speech {
	font-size: 22px;
	position: relative;
	margin-top: 5%;
	margin-left: 25%;

	&:before {
	 	content: "";
		padding-bottom: 65%;
		padding-left: 100%;
	 	position: absolute;
	 	background: url(./images/speechbubble-s.svg) no-repeat;
	 	background-size: 100%;
	    left: 0;
	    top: 0;
	}
}

.answer {
	font-size: 16px;
	font-weight: 600;
	position: relative;
	width: 60%;
	margin-top: 15%;
	margin-left: 5%;

	&:before {
	 	content: "";
		padding-bottom: 65%;
		padding-left: 100%;
	 	position: absolute;
	 	background: url(./images/answerbubble-s.svg) no-repeat;
	 	background-size: 100%;
	    left: 0;
	    top: 0;
	}
}

#llama {
	.st0{fill:#C49A6E;}
	.st1{fill:#D8BA9E;}
	.st2{fill:#A57C56;}
	.st3{fill:#E0CAB8;}
	.st4{fill:#C1A085;}
	.st5{fill:#4D4D4D;}
	.st6{fill:#666666;}
	.st7{fill:#686868;}
	.st8{fill:#353535;}
	.st9{fill:#1BB267;}
	.st10{fill:#2FD37D;}
	.st11{fill:#F2F2F2;}
}

.settings-svg{
	height: 58px;
	width: 58px;
	padding: 5px;
}

#lawyer-icon {
	
	.st0{fill:#0D3E59;}
	.st1{fill:#F2CC16;}
}

#lawyer-happy {
	
	.st0{fill:#603813;}
	.st1{fill:#754C24;}
	.st2{fill:none;stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#601717;}
	.st5{fill:#CC6969;}
	.st6{fill:#FFCC33;}
	.st7{fill:#C61A2F;}
	.st8{fill:#FFCC00;}
}