@import "variables";


.imgView {
    margin: 0 auto;
	width: 30rem;
}

.imageContent {
    width: 100%;
}

.licenceProperty {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.errorContainer {
    border: 1px solid red;
    margin-bottom: 10px;
    width: 60%;
}

.licenseDropdown{
    width: 100%;
}

.errorDropdown {
    outline: 3px auto red;
    display: inline-block;
    width: 100%;
}

.license-notice{
    display: inline-block;
    width: 25rem;
    height: 13rem;
}

.copy-button{
    display: inline-block;
    vertical-align: top;
    margin: 1rem;

    & .copy{
        margin: 0px;
    }
}

.notice-container {
    margin-top: 2rem;
}

.select-container {
    display: flex;
    width: 50em;
    float: right;
}

.using-image-error{
    height: 2rem;
    display: inline-block;
    width: 30%;
    margin-left: 1rem;
    box-sizing: border-box;
    text-align: initial;
}

@media only screen and (max-width: 599px) {

    .select-container {
        width: 13em;
    }
}

@media (min-width: 768px) and (max-width: 1259px) {
    
    .select-container {
        width: 26em;
    }
}

@media (min-width: 1260px) and (max-width: 1440px) {

    .select-container {
        width: 30em;
    }
}
