@import "variables";


.imgView {
    margin: 0 auto;
	width: 30rem;
}

.imageContent {
    width: 100%;
}

.licenceProperty {
    display: inline-block;
}

.errorContainer {
    border: 1px solid red;
    margin-bottom: 10px;
    width: 100%;
}
