// Color-Scheme Version 1

$darkblue: #0D3E59;
$lightblue: #6CC3F1;
$darkred: #F21D2F;
$brightred: #F26D75;
$orange: #F2A516;
$yellow: #F2CC16;
$darkgreen: #146959;
$lightgreen: #69BFAF;
$darkbrown: #593312;
$lightbrown: #A66B38;

// Color-Scheme Version 2
//
// $darkblue: #2E385B;
// $lightblue: #99C5D2;
// $darkred: #CB433E;
// $brightred: #F87F7A;
// $orange: #F49046;
// $yellow: #FEC23E;
// $darkgreen: #2F8162;
// $lightgreen: #99D2BC;

$background-white: #FFFFFF; 
$nav-reached: #FFFFFF; 
$nav-hover: lighten($yellow, 20%);
$nav-active: $yellow;

$resource-background: #e1e1e1;
$jailresource-background: rgba(107, 26, 33, 0.95);

$button-text: #FFFFFF;